<!DOCTYPE html>
<html>
  <head>
    <title>Members only</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% if (currentUser) { %>
    <h1>Welcome back <%= currentUser.fullName %></h1>
    <a href="/members">Go to members page</a>
    <br />
    <a href="/log-out">Log out</a>
    <ul>
      <% messages.forEach(function(message) { %>

      <li>
        <h2>
          <% if(currentUser.membership_status !== "regular" ) { %> <%=
          message.author.fullName %> <% } else { %> Anonymous <% } %>
        </h2>
        <p><%= message.text %></p>

        <% if (currentUser.membership_status !== "regular") { %>
        <p class="timestamp">
          <%= new Date(message.timestamp).toLocaleString() %> <% } %>
        </p>
        <% if (currentUser.membership_status === "admin") { %>

          <form action="/delete" method="POST">
            <input type="hidden" name="messageId" value="<%= message._id %>">
            <button type="submit">Delete</button>
        <% } %>
      </li>

      <% }) %>
    </ul>

    <a href="/new-message">Create New Message</a>
    <br />
    <% if (currentUser.membership_status === "regular") { %>
    <a href="/verification">Become a member</a>
    <% }} else { %>

    <h1>Log in</h1>
    <form method="post">
      <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
      </div>
      <input type="submit" name="submit" id="submit" />
    </form>
    <p>No account? <a href="/sign-up">Sign up</a></p>

    <% } %>
  </body>

</html>
